<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Charity List</title>
</head>
<body>

	<h3 align="right">

		<a href="Home.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; 
         <a href="resources.html">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="past&presentEvents.html">Past & Present Events</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="signup.html">Login/Registration</a>
       </h3>
	
	<br><br><br><br>

	<table border="5" align="center">
		<tr align="center">
			<td><h3>NAME</h3></td>
			
		</tr>
		<tr>
			<td>Bangladesh Environment and Development Society (BEDS)</td>
		</tr>

		<tr>
			<td>Bangladesh Climate Change Resilience Fund</td>
		</tr>

		<tr>
			<td>International Centre for Climate Change and Development</td>
		</tr>


		<tr>
			<td>Bangladesh Environmental Lawyers Association</td>
		</tr>
			
			
	</table>

	<hr>

     <left>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Croudfunding</h2><br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>address........address................<br>number...........number</h4>

     </left>

     <center><h1>Thank you for visiting</h1></center>
</body>
</html>