<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>
<body >

    
    <h3 align="right">
         
         <a href="resources.html">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="past&presentEvents.html">Past & Present Events</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="charities.html">Charities</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="signup.html">Login/Registration</a>
     </h3>
         <img src="../Asset/CF.jpg" width="150px" height="100px"/>

    <br>
    <h1 align="center">

            Funding for a better future
    </h1>
    <br />
    
        <tr>
            <tr height="50px">
            <h1 align="center">Achievement</h1></td>
        </tr>
    <table width="100%" border="1">

        <tr>
            <td align="center">
                <h2>2 project running</h2>
            </td>
            <td align="center">
                <h2>$2,289 funded towards creative work</h2>
            </td>
            <td align="center">
                <h3>Running Projects</h2>
                <a  href="projectOcean.html"><p>Project Ocean</a><br>
                <a  href="projectPollution.html"><p>Project Pollution</a><br>
            </td>
        </tr>
    </table>

    <br><br><br>


    <table width="100%" border="1">
    <tr>
        <td><img src="../Asset/ocean.jpg" width="500px" height="300px"/></td>
        <td align="center">
            <h2> Protect the Oceans</h2>
             <h4> We've just launched our fall membership drive, and we want you to join us!When you become a   member, your donation helps fund Oceana’s proven, science-based campaigns to save species and restore our oceans. We've got so much work to protect our oceans from threats like offshore drilling — which is unfortunately wreaking havoc on our oceans and marine wildlife in California right now. But we can't do this work without. <a href="projectOcean.html">learn more...</a></h4> 

     </td>
     </table>

     <br><br><br>

     <table width="100%" border="1">
    <tr>
        <td><img src="../Asset/pollution.jpg" width="300px" height="300px"/></td>
        <td align="center">
         <h2> Pollution Prevention (P2) Grant Program</h2>
            <h4>Pollution Prevention (P2) Grants provide technical assistance to businesses in order to help them develop and adopt source reduction practices (also known as “pollution prevention” or “P2”). P2 means reducing or eliminating pollutants from entering any waste stream or otherwise released into the environment prior to recycling, treatment, or disposal. In keeping with the Pollution Prevention Act of 1990, EPA is encouraging P2 because implementing these approaches can result in reductions in toxic pollutants, the use of water, energy and other raw materials, while also lowering business costs. P2 grants are awarded to States, colleges and universities (recognized as instrumentalities of the state), and federally-recognized tribes and intertribal consortia. <a href="projectPollution.html">learn more...</a></h4> 

     </td>
     </table>


     <br><br><br>


     <hr>

     <left>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Croudfunding</h2><br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>address........address................<br>number...........number</h4>

     </left>

     <center><h1>Thank you for visiting</h1></center>


     
    


</body>
</html>