<html>
<head>
	<title>Login Page</title>
</head>
<body>

	<h3 align="right">
         
         <a href="Home.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; 
         <a href="resources.html">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="past&presentEvents.html">Past & Present Events</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="charities.html">Charities</a>&nbsp;&nbsp;&nbsp;&nbsp;
         
            
     </h3>

     <br><br><br><br>

	<form method="post" action="../Controller/logincheck.php">
		<fieldset align="center">
			<legend>Login</legend>
			<table align="center">
				<tr>
					<td>Username:</td>
					<td><input type="text" name="username" value=""></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password" value=""></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit">


			</table>
			
			<p>Don't have an account?  &nbsp;&nbsp;&nbsp; <a href="signup.html">SignUp</a></p>
			
		</fieldset>
	</form>

	<hr>

     <left>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Croudfunding</h2><br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>address........address................<br>number...........number</h4>

     </left>

     <center><h1>Thank you for visiting</h1></center>
</body>
</html>