<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Project Pollution</title>
</head>
<body >

    
    <h3 align="right">

         <a href="Home.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; 
         <a href="resources.html">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="past&presentEvents.html">Past & Present Events</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="charities.html">Charities</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="signup.html">Login/Registration</a>
     </h3>
         

    <br><br><br>
    
            <h1 align="center">Pollution Prevention (P2) Grant Program</h1></td>
      

                <center><img src="../Asset/p2.jpg" width="50%" height="300px"></center>
      
            
            <center>
                <h2>$1,100 funded towards Enviroment Cleanup</h2>
            </center>

    <br><br><br>

    <fieldset align="left">

         <h2>Air Pollution</h2>

        <img src="../Asset/p1.jpg" width="500px" height="300px">

        <h3>Sometimes, air pollution is visible. A person can see dark smoke pour from the exhaust pipes of large trucks or factories, for example. More often, however, air pollution is invisible.

            Polluted air can be dangerous, even if the pollutants are invisible. It can make people’s eyes burn and make them have difficulty breathing. It can also increase the risk of lung cancer.

            Sometimes, air pollution kills quickly. In 1984, an accident at a pesticide plant in Bhopal, India, released a deadly gas into the air. At least 8,000 people died within days. Hundreds of thousands more were permanently injured.</h3>

    </fieldset>

    <br><br><br>

    <fieldset align="right">

         <h2>Pollution is the introduction of harmful materials into the environment.</h2>

        <img src="../Asset/p3.jpg" width="500px" height="300px">

        <h3>These harmful materials are called pollutants. Pollutants can be natural, such as volcanic ash. They can also be created by human activity, such as trash or runoff produced by factories. Pollutants damage the quality of      air, water, and land.Many things that are useful to people produce pollution. Cars spew pollutants from their exhaust pipes. Burning coal to create electricity pollutes the air. Industries and homes generate garbage and sewage that can pollute the land and water. Pesticides—chemical poisons used to kill weeds and insects—seep into waterways and harm wildlife.</h3>

    </fieldset>

    <hr>

     <left>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Croudfunding</h2><br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>address........address................<br>number...........number</h4>

     </left>

     <center><h1>Thank you for visiting</h1></center>


</body>
</html>